# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Docker
.dockerignore

# Logs
logs/
*.log
data

# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfvars
*.tfvars.json

# Aider
.aider*
.aider.chat.history.md
.aider.code.instructions.md
.aider.commands.log
.aider.conf.yml
.aider.debug.log
.aider.input.history
.aider.last_input.txt
.aider.prompts.log
.aider.tags.cache.json
.aider.transcript.txt
